@import url("https://fonts.googleapis.com/css?family=Abel|Poiret+One");
.info_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .info_wrap p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    color: white;
    margin: 0 50px 0 -40px; }

.skill-list p {
  margin: 0 auto;
  color: white; }

.stat_title {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  color: white; }

.stat_info {
  display: flex;
  justify-content: center;
  align-items: center; }
  .stat_info p {
    font-family: 'Abel', sans-serif;
    color: white; }

.data {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  list-style-type: none;
  color: white; }

.bottom_wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }

.divider {
  width: 80%;
  height: 5px;
  background-color: white;
  margin: 0 0 0 0; }

.p_bar_2 {
  width: 30px;
  height: 30px;
  background-color: #BBA815; }

.p_bar_audi {
  width: 30px;
  height: 30px;
  background-color: #E21D38; }

.p_bar_aston {
  width: 30px;
  height: 30px;
  background-color: #1B774E; }

.p_bar_bmw {
  width: 30px;
  height: 30px;
  background-color: #0049BC; }

.p_bar_ferrari {
  width: 30px;
  height: 30px;
  background-color: #D2C708; }

.p_bar_lamb {
  width: 30px;
  height: 30px;
  background-color: #F6C441; }

.p_bar_mercedes {
  width: 30px;
  height: 30px;
  background-color: #AFB2B2; }

.p_bar_porsche {
  width: 30px;
  height: 30px;
  background-color: #BBA815; }

.p_bar_tesla {
  width: 30px;
  height: 30px;
  background-color: #E31937; }

.b_bar_2 {
  width: 30px;
  height: 30px;
  background-color: #36AAF7; }

.length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 0 15px; }
  .length p {
    font-family: 'Abel', sans-serif;
    font-size: 15px; }

.end {
  margin: 0 30px 0 0; }

progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  height: 50px;
  width: 100%; }

.graph_text {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 20px;
  text-align: left; }

.skill_1 progress::-webkit-progress-value {
  background: #36AAF7; }

.skill_2 progress::-webkit-progress-value {
  background: #BBA815; }

.skill_1 progress::-moz-progress-bar {
  background: #36AAF7; }

.skill_2 progress::-moz-progress-bar {
  background: #BBA815; }

.skill_2_audi progress::-webkit-progress-value {
  background: #E21D38; }

.skill_2_audi progress::-moz-progress-bar {
  background: #E21D38; }

.skill_2_aston progress::-webkit-progress-value {
  background: #1B774E; }

.skill_2_aston progress::-moz-progress-bar {
  background: #1B774E; }

.skill_2_bmw progress::-webkit-progress-value {
  background: #0049BC; }

.skill_2_bmw progress::-moz-progress-bar {
  background: #0049BC; }

.skill_2_ferrari progress::-webkit-progress-value {
  background: #D2C708; }

.skill_2_ferrari progress::-moz-progress-bar {
  background: #D2C708; }

.skill_2_lamb progress::-webkit-progress-value {
  background: #F6C441; }

.skill_2_lamb progress::-moz-progress-bar {
  background: #F6C441; }

.skill_2_mercedes progress::-webkit-progress-value {
  background: #AFB2B2; }

.skill_2_mercedes progress::-moz-progress-bar {
  background: #AFB2B2; }

.skill_2_porsche progress::-webkit-progress-value {
  background: #BBA815; }

.skill_2_porsche progress::-moz-progress-bar {
  background: #BBA815; }

.skill_2_tesla progress::-webkit-progress-value {
  background: #E31937; }

.skill_2_tesla progress::-moz-progress-bar {
  background: #E31937; }

.skill-list {
  list-style: none;
  margin: 0;
  padding: 1em; }

.skill_1 {
  margin-bottom: 1em;
  position: relative;
  animation: progressBar 1.3s cubic-bezier(0.26, 0.61, 0.79, 1.19); }
  .skill_1 h3 {
    color: white;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    left: 1em;
    line-height: 0;
    position: absolute;
    top: .65em; }

.skill_2 {
  margin-bottom: 1em;
  position: relative;
  animation: progressBar 1.3s cubic-bezier(0.26, 0.61, 0.79, 1.19); }
  .skill_2 h3 {
    color: white;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    left: 1em;
    line-height: 0;
    position: absolute;
    top: .65em; }

.skill_2_audi {
  margin-bottom: 1em;
  position: relative;
  animation: progressBar 1.3s cubic-bezier(0.26, 0.61, 0.79, 1.19); }
  .skill_2_audi h3 {
    color: white;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    left: 1em;
    line-height: 0;
    position: absolute;
    top: .65em; }

.skill_2_aston {
  margin-bottom: 1em;
  position: relative;
  animation: progressBar 1.3s cubic-bezier(0.26, 0.61, 0.79, 1.19); }
  .skill_2_aston h3 {
    color: white;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    left: 1em;
    line-height: 0;
    position: absolute;
    top: .65em; }

.skill_2_bmw {
  margin-bottom: 1em;
  position: relative;
  animation: progressBar 1.3s cubic-bezier(0.26, 0.61, 0.79, 1.19); }
  .skill_2_bmw h3 {
    color: white;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    left: 1em;
    line-height: 0;
    position: absolute;
    top: .65em; }

.skill_2_ferrari {
  margin-bottom: 1em;
  position: relative;
  animation: progressBar 1.3s cubic-bezier(0.26, 0.61, 0.79, 1.19); }
  .skill_2_ferrari h3 {
    color: white;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    left: 1em;
    line-height: 0;
    position: absolute;
    top: .65em; }

.skill_2_lamb {
  margin-bottom: 1em;
  position: relative;
  animation: progressBar 1.3s cubic-bezier(0.26, 0.61, 0.79, 1.19); }
  .skill_2_lamb h3 {
    color: white;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    left: 1em;
    line-height: 0;
    position: absolute;
    top: .65em; }

.skill_2_mercedes {
  margin-bottom: 1em;
  position: relative;
  animation: progressBar 1.3s cubic-bezier(0.26, 0.61, 0.79, 1.19); }
  .skill_2_mercedes h3 {
    color: white;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    left: 1em;
    line-height: 0;
    position: absolute;
    top: .65em; }

.skill_2_porsche {
  margin-bottom: 1em;
  position: relative;
  animation: progressBar 1.3s cubic-bezier(0.26, 0.61, 0.79, 1.19); }
  .skill_2_porsche h3 {
    color: white;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    left: 1em;
    line-height: 0;
    position: absolute;
    top: .65em; }

.skill_2_tesla {
  margin-bottom: 1em;
  position: relative;
  animation: progressBar 1.3s cubic-bezier(0.26, 0.61, 0.79, 1.19); }
  .skill_2_tesla h3 {
    color: white;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    left: 1em;
    line-height: 0;
    position: absolute;
    top: .65em; }

@keyframes progressBar {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@media screen and (min-width: 768px) {
  .graph_wrap {
    margin-top: 200px; }
  .info_wrap p {
    margin: 0 50px 0 -180px; }
  .data {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 10px; }
    .data li {
      padding: 10px 0 0 30px; } }

.comp_audi {
  background: url(../graphics/audi_company.jpg) no-repeat center center fixed;
  background-size: cover; }

.comp_aston {
  background: url(../graphics/aston_company.jpg) no-repeat center center fixed;
  background-size: cover; }

.comp_bmw {
  background: url(../graphics/bmw_company.jpg) no-repeat center center fixed;
  background-size: cover; }

.comp_ferrari {
  background: url(../graphics/ferrari_company.jpg) no-repeat center center fixed;
  background-size: cover; }

.comp_lamb {
  background: url(../graphics/lamb_company.jpg) no-repeat center center fixed;
  background-size: cover; }

.comp_mercedes {
  background: url(../graphics/mercedes_company.jpg) no-repeat center center fixed;
  background-size: cover; }

.comp_porsche {
  background: url(../graphics/porsche_company.jpg) no-repeat center center fixed;
  background-size: cover; }

.comp_tesla {
  background: url(../graphics/tesla_company.jpg) no-repeat center center fixed;
  background-size: cover; }

.white_box {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 170px 0 0 0;
  position: absolute; }
  .white_box p {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-indent: 35px;
    padding: 20px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); }

.contain_web {
  display: flex;
  justify-content: center;
  align-items: center; }

.website {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 420px 0 0 0; }
  .website div {
    border: solid 3px white;
    cursor: pointer;
    background-color: black;
    height: 50px;
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent; }
    .website div h5 {
      font-family: 'Abel', sans-serif;
      font-size: 30px;
      padding: 15px;
      font-weight: 300;
      color: white;
      margin: -9px auto; }
    .website div:hover {
      transform: skew(-20deg); }

@media screen and (min-width: 768px) {
  .white_box {
    width: 70%; }
  .website {
    margin: 500px 0 0 0; }
  .white_contain {
    display: flex;
    justify-content: center;
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .white_box {
    width: 60%; }
    .white_box p {
      font-size: 18px; }
  .website {
    margin: 525px 0 0 0; } }

.contain_vid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: -65px 0 0 0; }
  .contain_vid iframe {
    width: 375px;
    height: 190px; }
  .contain_vid p {
    font-family: 'Abel', sans-serif;
    color: white;
    max-width: 400px;
    padding: 0 1.5rem; }
  .contain_vid h3 {
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 20px;
    max-width: 400px;
    margin-left: 75px; }

.h3_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67%; }

@media screen and (min-width: 768px) {
  .contain_vid {
    margin: 200px 0 0 0; }
    .contain_vid iframe {
      width: 700px;
      height: 400px; }
    .contain_vid p {
      max-width: 600px;
      margin-left: 45px;
      padding: 0 1rem; }
    .contain_vid h3 {
      font-size: 25px;
      max-width: 400px;
      margin-left: 232px; } }

@media screen and (min-width: 1024px) {
  .contain_vid {
    margin: 200px 0 0 0; }
    .contain_vid iframe {
      width: 900px;
      height: 500px; }
    .contain_vid p {
      max-width: 800px;
      margin-left: 50px; }
    .contain_vid h3 {
      font-size: 27px;
      max-width: 400px;
      margin-left: 292px; } }

.pic_wrap .pic1 {
  width: 100%;
  margin: 30px 0 30px 0;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.pic_wrap .pic2 {
  width: 100%;
  margin: 30px 0 30px 0;
  opacity: 0;
  animation: fadeIn 3s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.pic_wrap .pic3 {
  width: 100%;
  margin: 30px 0 30px 0;
  opacity: 0;
  animation: fadeIn 4.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.pic_wrap .pic4 {
  width: 100%;
  margin: 30px 0 30px 0;
  opacity: 0;
  animation: fadeIn 6s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.pic_wrap .pic5 {
  width: 100%;
  margin: 30px 0 30px 0;
  opacity: 0;
  animation: fadeIn 7.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.pic_wrap .pic6 {
  width: 100%;
  margin: 30px 0 30px 0;
  opacity: 0;
  animation: fadeIn 9s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.overlay {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 800px;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100; }

.right_nav img {
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px; }

.left_nav img {
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px; }

@media screen and (min-width: 768px) {
  .pic_wrap {
    margin: 200px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .pic_wrap div {
      margin: 10px 30px 10px 30px;
      cursor: pointer; }
    .pic_wrap img {
      width: 446px;
      height: auto;
      max-height: 250px;
      transition: 300ms all;
      margin: 0; }
    .pic_wrap img:hover {
      filter: contrast(0.8) brightness(0.9); }
  .pic_wrap .pic1 {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 446px;
    height: auto;
    max-height: 250px;
    transition: 300ms all;
    margin: 0; }
  .pic_wrap .pic2 {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 446px;
    height: auto;
    max-height: 250px;
    transition: 300ms all;
    margin: 0; }
  .pic_wrap .pic3 {
    opacity: 0;
    animation: fadeIn 3s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 446px;
    height: auto;
    max-height: 250px;
    transition: 300ms all;
    margin: 0; }
  .pic_wrap .pic4 {
    opacity: 0;
    animation: fadeIn 3s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 446px;
    height: auto;
    max-height: 250px;
    transition: 300ms all;
    margin: 0; }
  .pic_wrap .pic5 {
    opacity: 0;
    animation: fadeIn 4.5s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 446px;
    height: auto;
    max-height: 250px;
    transition: 300ms all;
    margin: 0; }
  .pic_wrap .pic6 {
    opacity: 0;
    animation: fadeIn 4.5s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 446px;
    height: auto;
    max-height: 250px;
    transition: 300ms all;
    margin: 0; }
  .overlay {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 800px;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 100; }
  .overlay:target {
    visibility: visible;
    opacity: 1; }
  .popup {
    margin: 100px 0 0 0;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 5s ease-in-out; }
  .popup .close {
    position: absolute;
    top: -5px;
    right: 20px;
    transition: all 200ms;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF; }
  .contain_arrows {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    position: fixed; }
  .right_next {
    width: 45px;
    height: 45px;
    margin-left: 35px;
    position: fixed; }
    .right_next i {
      color: #FFF; }
  .left_next {
    width: 45px;
    height: 45px;
    position: fixed;
    margin-left: -74px; }
    .left_next i {
      color: #FFF; }
  .right_nav img {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px; }
  .left_nav img {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px; }
  .popup .close:hover {
    color: #D3D3D3;
    transform: scale(1.3); }
  .popup {
    overflow: auto;
    color: #000; }
  .popup img {
    width: 85%;
    height: auto;
    max-width: 1000px;
    max-height: 575px; } }

* {
  box-sizing: border-box; }

html {
  background-color: #1D1E1E; }

body {
  margin: 0; }

figure {
  position: relative;
  cursor: pointer; }
  figure img {
    width: 284px;
    height: 42px; }

figcaption {
  text-decoration: none;
  position: absolute;
  top: 0;
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 8px 0 0 20px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8); }

.greet {
  text-align: center;
  margin: 20px auto 20px auto;
  font-family: 'Poiret One', cursive;
  font-size: 45px;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8); }

.header_1 {
  width: 100%;
  background-color: #121212;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.left_nav {
  order: -1; }

.brand_title {
  font-size: 30px;
  font-family: 'Poiret One', cursive;
  color: white; }

.left_arrow_s {
  cursor: pointer;
  margin-left: 10px; }

.right_arrow_s {
  cursor: pointer;
  margin-right: 10px; }

.slogan {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 30px;
  z-index: -2; }
  .slogan p {
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8); }

.hamb_wrap {
  display: flex;
  justify-content: flex-end; }

.hamburger {
  font-size: 60px;
  color: white;
  cursor: pointer;
  position: relative;
  margin: 90px 20px 0 0; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  margin: 30px 0 30px 0;
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.header_desktop_1 {
  display: none;
  font-family: 'Poiret One', cursive;
  padding: 15px 0 0 0; }

.bg {
  background: url(../graphics/audi_bg.jpg) no-repeat center center fixed;
  background-size: cover; }

.bg_1 {
  background: url(../graphics/aston_bg.jpg) no-repeat center center fixed;
  background-size: cover; }

.bg_2 {
  background: url(../graphics/bmw_bg.jpg) no-repeat center center fixed;
  background-size: cover; }

.bg_3 {
  background: url(../graphics/ferrari_bg.jpg) no-repeat center center fixed;
  background-size: cover; }

.bg_4 {
  background: url(../graphics/lamb_bg.jpg) no-repeat center center fixed;
  background-size: cover; }

.bg_5 {
  background: url(../graphics/mercedes_bg.jpg) no-repeat center center fixed;
  background-size: cover; }

.bg_6 {
  background: url(../graphics/porsche_bg.jpg) no-repeat center center fixed;
  background-size: cover; }

.bg_7 {
  background: url(../graphics/tesla_bg.jpg) no-repeat center center fixed;
  background-size: cover; }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 20px auto; }

.greet_big {
  display: none;
  visibility: hidden;
  text-align: center;
  margin: 0;
  font-family: 'Poiret One', cursive;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8); }

.shine:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.shine:hover:after {
  width: 106%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.nav {
  transition: 0.3s ease;
  font-size: 20px;
  text-decoration: none;
  border-top: 1.5px solid transparent;
  border-bottom: 1.5px solid transparent;
  padding: 20px 0;
  margin: 0 20px; }

.nav:hover {
  border-top: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #ffffff;
  padding: 6px 0; }

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap; }
  figure {
    position: relative; }
    figure img {
      cursor: pointer;
      width: 342px;
      height: 51px; }
  .greet {
    display: none;
    visibility: hidden; }
  .greet_big {
    display: block;
    visibility: visible;
    text-align: center;
    font-size: 50px;
    margin: 20px auto 20px auto; }
  .hamburger {
    display: none; }
  .slogan {
    margin-top: 200px; }
    .slogan p {
      font-size: 35px; }
  .header_desktop_1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 0 0;
    position: absolute; }
    .header_desktop_1 a {
      text-decoration: none;
      color: white;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
      font-size: 28px; }
  .brand_title {
    font-size: 40px; }
  .left_arrow_s {
    cursor: pointer;
    margin-left: 10px; }
  .right_arrow_s {
    cursor: pointer;
    margin-right: 10px; }
  .home {
    margin: 0 0 0 25px; }
  .stats {
    margin: 0 25px 0 0; }
  figcaption {
    margin: 12px 0 0 20px; } }

@media screen and (min-width: 1072px) {
  .wrapper {
    width: 100%;
    flex-direction: wrap;
    margin: 0 auto; }
  figure {
    position: relative; }
    figure img {
      cursor: pointer;
      width: 456px;
      height: 68px; }
  figcaption {
    font-size: 30px;
    margin: 18px 0 0 23px; }
  .greet_big {
    font-size: 55px; }
  .slogan {
    margin-top: 200px; }
    .slogan p {
      font-size: 40px; } }
